
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorityLabel" translate="witadminApp.authority.home.createOrEditLabel">Create or edit a Authority</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="authority.id" readonly>
        </div>

        <div class="form-group">
            <label translate="witadminApp.authority.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="authority.name"
                    required ng-minlength="1" ng-maxlength="50">

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="witadminApp.authority.permission" for="field_permission">permission</label>
            <select class="form-control" id="field_permission" multiple name="permission" ng-model="authority.permissions" ng-options="permission as permission.id for permission in permissions track by permission.id">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
